@using HWIX
@using HWIX.Extensions

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=9">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render(BundleConfig.STYLE_SITE)
        @Styles.Render(BundleConfig.STYLE_JQUERY)
        @Styles.Render(BundleConfig.STYLE_BOOTSTRAP)
        @Styles.Render(BundleConfig.STYLE_KENDOUI)
        @Styles.Render(BundleConfig.STYLE_JQDATERANGESLIDER)
        @Scripts.Render(BundleConfig.SCRIPT_MODENIZR)
    </head>
    <body>
        <header>
            <div class="row-fluid">
                <div class="span3">
                    @Html.ActionImage("Index", "Home", null, "/HWIX/Images/HWLogo.jpg", "Hanley Wood Market Intelligence")
                </div>
                <div class="span6">
                    <div class="input-append">
                        <input id="query" name="query" type="text" value="@ViewBag.Query" onkeydown="queryKey(event);" />
                        @Html.ActionIcon("submit();", BootstrapButton.Primary, BootstrapIcon.Search, true)
                    </div>
                </div>
            </div>
        </header>
        @RenderBody()

        @Scripts.Render(BundleConfig.SCRIPT_JQUERY)
        @Scripts.Render(BundleConfig.SCRIPT_JQUERYUI)
        @Scripts.Render(BundleConfig.SCRIPT_KNOCKOUT)
        @Scripts.Render(BundleConfig.SCRIPT_BOOTSTRAP)
        @Scripts.Render(BundleConfig.SCRIPT_KENDOUI)
        @Scripts.Render(BundleConfig.SCRIPT_MAPDOTNET)
        @Scripts.Render(BundleConfig.SCRIPT_JQDATERANGESLIDER)
        @Scripts.Render(BundleConfig.SCRIPT_HWIX)
        @RenderSection("scripts", required: false)
        <script type="text/javascript">
            $(document).ready(function() {
                $('#query').typeahead({
                    minLength: 1,
                    source: function(query, process) {
                        $.get('@Url.Action("QueryGeography", "Search")', { query: query }, function(data) {
                            process(data);
                        });
                    }
                });
            });
            
            function queryKey(event) {
                if (event.keyCode == 13) {
                    submit();
                }
            }

            function submit() {
                location.href = '/HWIX/q/' + $('#query').val();
            }
        </script>
    </body>
</html>
